HELO:<tmp.Tubu8DpTos>
FROM:<qa-bot@example.com>
TO:<microsoft+seed5@example.com>

Message-ID: fSCadkeF7K4rZA05WUd5rXi2usdgqFKy-PdDHY9yM7o=@mailhog.example
Received: from tmp.Tubu8DpTos by mailhog.example (MailHog)
          id fSCadkeF7K4rZA05WUd5rXi2usdgqFKy-PdDHY9yM7o=@mailhog.example; Tue, 12 May 2026 14:32:54 +0100
Return-Path: <qa-bot@example.com>
X-MailHogPlus-Folder: microsoft

Subject: [Microsoft] MailHogPlus Seed 20260512-143253 #5
From: MailHogPlus Seeder <qa-bot@example.com>
To: microsoft+seed5@example.com

Automated MailHogPlus test message.
Company: Microsoft
SMTP Username: microsoft
Run ID: 20260512-143253
Message: 5/6
