HELO:<tmp.dJjxerEJqm>
FROM:<qa-bot@example.com>
TO:<oracle+seed6@example.com>

Received: from tmp.dJjxerEJqm by mailhog.example (MailHog)
          id Q7EtMfA00D2_uphvauZJjDsuPcN_qKVSSDCpegsQxok=@mailhog.example; Tue, 12 May 2026 14:32:54 +0100
Return-Path: <qa-bot@example.com>
X-MailHogPlus-Folder: oracle
Message-ID: Q7EtMfA00D2_uphvauZJjDsuPcN_qKVSSDCpegsQxok=@mailhog.example

Subject: [Oracle] MailHogPlus Seed 20260512-143253 #6
From: MailHogPlus Seeder <qa-bot@example.com>
To: oracle+seed6@example.com

Automated MailHogPlus test message.
Company: Oracle
SMTP Username: oracle
Run ID: 20260512-143253
Message: 6/6
