HELO:<tmp.2Lk7C519JL>
FROM:<qa-bot@example.com>
TO:<adobe+seed4@example.com>

Message-ID: QceF1L0oxzJfl_Vx8sQoW50CijDBGarxEoLFACIpGzw=@mailhog.example
Received: from tmp.2Lk7C519JL by mailhog.example (MailHog)
          id QceF1L0oxzJfl_Vx8sQoW50CijDBGarxEoLFACIpGzw=@mailhog.example; Tue, 12 May 2026 14:32:54 +0100
Return-Path: <qa-bot@example.com>
X-MailHogPlus-Folder: adobe

Subject: [Adobe] MailHogPlus Seed 20260512-143253 #4
From: MailHogPlus Seeder <qa-bot@example.com>
To: adobe+seed4@example.com

Automated MailHogPlus test message.
Company: Adobe
SMTP Username: adobe
Run ID: 20260512-143253
Message: 4/6
